bug: goatcounter can not create sites for IDN-subdomains

# steps to reproduce
- download latest amd64 binary
- run with `goatcounter serve` command (in my case: no tls as the reverse proxy handles that for me, custom port and smtp-gateway)
- setup a site to track containing punycode/non-ascii chars via `goatcounter create site -vhost=xn--7n8h.example.com ...`

# expexted behaviour
- site is created (given the other given flags and parameters are error-free)

# actual behaviour
- goatcounter returns an error: `goatcounter-v2.1.1-linux-amd64: -vhost: must be a valid domain: invalid character: '🐐'.`

This seems a bit odd: Goatcounter seems to be aware of punycode: otherwise it would not know that xn--7n8h corresponds to  🐐 - at the same time it errors out, because the goat character is deemed invalid. 

[The code that produces the error](https://github.com/arp242/zvalidate/blob/master/validators.go#L242):

            if !unicode.IsLetter(c) && !unicode.IsDigit(c) && c != '-' {
                return nil, fmt.Errorf("invalid character: %q", c)
            }

So it needs to be in the "letter" or "digit" group. I wrote this code a long time ago, so I don't know off-hand how correct that is, but there's a comment which references the RFC:

        // See RFC 1034, section 3.1, RFC 1035, section 2.3.1
        //
        // - Only allow letters, numbers
        // - Max size of a single label is 63 bytes
        // - Need at least two labels

These are pre-IDN RFCs though; not sure what IDN modifies for that, but I did write it with IDN in mind and should support it, so I think I probably looked at it(?) Either way, I don't think you want to just "allow everything", since that also includes various whitespaces, control characters,  and other "sneaky" characters.

UI-wise I'd at least add an indication, why creating a site via pre-punycoded domain-string fails. Currently, the error message contains a reference to a character that was not in the input.  There is a conversion to real unicode happening somewhere that is not indicated. 

Yeah, it converts punycode to UTF-8 and then validates that.

It's actually tricky to display this otherwise, because "🐐hel🐐lo" is `xn--hello-xn04dda` there isn't a human-obvious mapping of which characters belong to which goat. Unlike, say, URL percent-encoding.

It seems to me that if you enter something like that you know that you're entering a 🐐? I don't think there's anyone who can write punycode "manually".